<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class ="container">
<header th:replace="fragments :: header"></header>
<h1>Things to do... </h1>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless ="${items} and ${items.size()}">Nothing to do.</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tr th:each="items : ${items}">
        <td th:text="${items}"></td>
    </tr>

<!--    <form action="weather" method="post">-->
<!--        <div>-->
<!--            <label>Enter the city name to check the weather</label>-->
<!--            <input type="text" name="city">-->
<!--        </div>-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->

<!--    <div class="div1">-->
<!--        <table id="table" style="width:100%">-->
<!--            <tr>-->
<!--                <th>City</th>-->
<!--                <th>Latitude</th>-->
<!--                <th>Longitude</th>-->
<!--                <th>Weather</th>-->
<!--            </tr>-->
<!--            <tr th:each="weather,iterStat : ${weatherData}" }>-->
<!--                <td><span th:text="${weather.getName()}"></span></td>-->
<!--                <td><span th:text="${weather.getLat()}"></span></td>-->
<!--                <td><span th:text="${weather.getLon()}"></span></td>-->
<!--                <td><span th:text="${weather.getWeatherDescription()}"></span></td>-->

<!--        </table>-->
<footer th:replace="fragments :: footer"></footer>
</body>
</html> 