<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body class ="container">
<header th:replace="fragments :: header"></header>
<body>
<h1>Weather Data</h1>
<div class="div">

</div>

<form action="weather" method="post">
    <div>
        <label>Enter the city name that you are planning for today.</label>
        <input type="text" name="city">
    </div>
    <button type="submit">Submit</button>
</form>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>